<html>
<head>
</head>
<body>
<div id="container">  
<ul>
    <li> <a href="#">HOME</a></li>
    <li> <a routerLink="/products">PRODUCT</a></li>
    <li> <a href="#">CSS</a>
        <ul>
            <li> <a href="#">Basic CSS</a></li>
            <li> <a href="#">Graphic User Interface with CSS</a></li>
            <li> <a href="#">Advanced CSS</a></li>
        </ul>
    </li>
    <li> <a href="#">JAVASCRIPT</a>
        <ul>
            <li> <a href="#">LESSON 01</a></li>
            <li> <a href="#">LESSON 02</a></li>
            <li> <a href="#">LESSON 03</a></li>
        </ul>
    </li>
    <li> <a routerLink="/fashion-list">Fashion</a></li>
    <li> <a routerLink="/dang-nhap">Login</a></li>
    <li> <a routerLink="/fashion-detail">Fashion Detail</a></li> <!-- Thêm dòng này -->
    <li> <a routerLink="/fashion-new">New Fashion</a></li> <!-- Thêm dòng này -->
</ul>
</div>
</body>
</html>
